/**
 * RESTE TÔT RANG ART CADRE
 * Nom de l'étudiant : Aaron Siveesna Meas-Sop
 * Date : 4 février 2026
 */
 
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Press Start 2P' ;
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    background-color: #060422;
}
 
.menu-boite {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    padding-left: 40px;
    background-color: #161533;
}
 
h1 {
    text-align: center;
    color: #ffe600;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
 
h2 {
    color: #ffe600;
    padding-top: 25px;
    margin-bottom: 16px;
    border-bottom: 2px solid;
    padding-bottom: 12px;
}
 
.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
.item:hover {
    background-color: #060422;
    transform: translateY(-6px);
}
 
.nom {
    font-weight: bold;
    font-size: 20px;
}
 
.prix {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    white-space: nowrap;
    text-align: right;
}
 
.description {
    flex-basis: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
    color: #ffffff
}
 
.badge {
    background-color: #850303;
    border-radius: 15%;
    color:#ffe600
}